<!DOCTYPE html>
<html>
  <head>
    <title>Support Page</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/support.css">
    <link rel="stylesheet" href="../static/styles/navbar.css">
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
          <img src="../static/images/Logo.png">
          <p1>Policy &nbsp</p1> <p2>Finder</p2>
      </div>
      <a href="#" class="toggle">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </a>
      <div class="navbar-links">
          <ul>
              <li><a href="index">Home</a></li>
              <li><a href="about_us">About Us</a></li>
              <li><a href="userLogin">User Login</a></li>
              <!-- <li><a href="officerlogin.html">Admin Login</a></li> -->
          </ul>
      </div>
  </nav>
    <header>
      <h1>Support Page</h1>
    </header>
    <main>
      <section id="faq">
        <h2>Frequently Asked Questions</h2>
        <dl>
          <dt>which scheme good for undergraduate student? </dt>
    <dd>you can find many good schemes on national scholership portal according to your eligibility</dd>
          <dt>What is central govt health scheme for poor? </dt>
          <dd>PM-JAY provides cashless cover of up to INR5,00,000 to each eligible family per annum for listed secondary and tertiary care conditions. The cover under the scheme includes all expenses incurred on the following components of the treatment.</dd>
          <dt>How to Apply for Ayushman Bharat Yojana?</dt>
          <dd>1.Log in to their official website: mera.pmjay.gov.in.<br>
            2.Now enter your mobile number and the captcha code given on the screen.<br>
           3. Enter the OTP that is sent to your registered mobile number, it will then take you to the PMJAY login screen.</dd>
        </dl>
      </section>
    </main>
    
    <h2 class="sta">     For Any Query You can contact us at<b> policyfinder2@gmail.com</b></h2>
  </body>
</html>
