@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SSRegular';  
}

html, body{
  margin: 0;
  padding: 0;
  display: grid;
  
}

#bgimg{
  position: absolute;
  top: 200px;
  left: 50%;
  position: fixed;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  height: 1100px;
  max-width: 1000px;
  width: 100%;
  padding: 25px 30px;
  margin-left: 5rem;
  margin-top: 2rem;
  border-radius: 5px;
    
}

.container .title1{
  color: #0E4A67;
  font-family: SSBold;
  font-size: 60px;
  font-weight: 600;
  margin: 20px 0 10px 0;
  position: relative;
}

.container .title1:before{
  content: '';
  position: absolute;
  height: 10px;
  width: 50px;
  left: 0px;
  bottom: -5px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #FB724B,#FE904B);
}

.container .title{
    color: #0E4A67;
    font-family: SSBold;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}

.container .title:before{
    content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: -5px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #FB724B,#FE904B);
}

.container form{
    width: 100%;
}

.container form .title{
    color: #0E4A67;
    font-family: SSBold;
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}

.container form .title:before{
  content: '';
  position: absolute;
  height: 4px;
  width: 33px;
  left: 0px;
  bottom: -5px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #FB724B,#FE904B);
}

.container h4{
  font-family: SSRegular;
  color: #37677E;
  margin-top: 2rem;
}

.container h4 a{
  text-decoration: none;
  font-family: SSRegular;
  color: #FE904B;
}

.container form .input-box{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45px;
  margin-top: 25px;
  position: relative;
}

.container form .input-box .col1{
    width: 30%;
}

.container form .input-box .col2{
    margin-top: 3.55rem;
    margin-left: 12rem;
    width: 30%;
}

.container form .input-box .col2 .innerRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: .65rem;
}

.container form .input-box .innerRow input{
    width: 100%;
}

.container form .input-box .innerRow .innercol2 h4{
    margin-left: 2rem;
}
.container form .input-box .innerRow select{
  width: 200%;
  height: 45px;
  margin-left: 2rem;
  outline: auto;
  outline-color: #207198;
  border-radius: 5px;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  border: none;
}

.container form .input-box h4{
  font-family: SSRegular;
  color: #0E4A67;
  margin-bottom: 0.25rem;
  margin-top: 1.25rem;
}


.container form .input-box input{
  width: 150%;
  height: 45px;
  outline: auto;
  outline-color: #207198;
  border-radius: 5px;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  border: none;
}

.container form .input-box .col1 select{
  width: 150%;
  height: 45px;
  outline: auto;
  outline-color: #207198;
  border-radius: 5px;
  text-align: center;
  outline-width: 1.43578px;
  font-size: 16px;
  border: none;
}

.container form .input-box #details{
    width: 320%;
    height: 90px;
  outline: auto;
  outline-color: #207198;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  outline-width: 1.43578px;
  font-size: 16px;
  border: none;
}

.container form .input-box input[type = "file"]{
  margin-top: 0;
}


.container form .input-box input:empty{
  outline-color: #207198;
  transition: all 0.3s ease;
}

.container form .input-box input:focus,
.container form .input-box input:valid {
  outline-color: #6FCF97;
  transition: all 0.3s ease;
}

.container form .input-box input:not(:focus):not(:placeholder-shown):invalid{
  outline-color: #EE5757;
  transition: all 0.3s ease;
}

.container form .input-box #upload1:not(:focus):not(:placeholder-shown):invalid{
  outline: none;
  border: none;
}

.container form .input-box #upload2:not(:focus):not(:placeholder-shown):invalid{
  outline: none;
  border: none;
}

.container .space{
  margin: 30px 0 20px 0;
}

.container .bigspace{
    margin: 98px 0 20px 0;
}

.container .bigspace2{
  margin: 102px 0 20px 0;
}

.container .largespace{
    margin: 394px 0 20px 0;
}

.container .form .space{
    margin: 30px 0 20px 0;
}

.container .input-box input[type="submit"]{
  background-image: linear-gradient(to right, #FB724B,#FE904B);
  outline: none;
  font-size: 17px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.container .input-box input[type="submit"]:hover{
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #FB724B,#FE904B);
}
.container .input-box .option{
  margin-top: 2rem;
  font-size: 14px;
  text-align: center;
}

.container .input-box .option::before,
.container .input-box .option::after{
  content: '__________';
}
.container .aadhar a,
.container .mobile a{
  text-align: center;
  display: block;
  height: 45px;
  width: 100%;
  font-size: 15px;
  text-decoration: none;
  /* padding-left: 20px; */
  line-height: 45px;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.container .aadhar{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1.43578px solid #207198;
  background-color: #E3F1FE;
  border-radius: 10px;
}

.container .aadhar a{
  color: #FE904B;
}

.container .mobile{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1.25px solid #207198;
  background-color: #E3F1FE;
  border-radius: 10px;
}

.container .mobile a{
  color: #FE904B;
}

.container .mobile a:hover{
  color: white;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #FB724B,#FE904B);
}

.container .aadhar a:hover{
  color: white;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, #FB724B,#FE904B);
}




/* .container .mobile a{
  background: linear-gradient(to right,  #9fa3a4 0%, #989ea0 100%);
  margin: 20px 0 15px 0;
}
.container .mobile a:hover{
  background: linear-gradient(to left, rgb(174, 169, 169) 0% grey 100%);
  margin: 20px 0 15px 0;
}
.container .aadhar a{
  background: linear-gradient( to right, #9fa3a4 0%, #989ea0 100%);
  margin: 20px 0 50px 0;
}
.container .aadhar a:hover{
  background: linear-gradient( to left, #9fa3a4 0%, #989ea0 100%);
  margin: 20px 0 50px 0;
} */
